<ion-header>
  <ion-toolbar>
    <ion-title>NetStar Inventory</ion-title>
    <ion-button 
      fill="clear" 
      slot="end" 
      (click)="onProfileClick()"
      id="profile-trigger">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button 
      *ngFor="let tab of availableTabs" 
      [tab]="tab.tab" 
      [href]="tab.href">
      <ion-icon [name]="tab.icon"></ion-icon>
      <ion-label>{{ tab.label }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-popover 
  [isOpen]="isProfilePopoverOpen" 
  trigger="profile-trigger"
  (didDismiss)="closeProfilePopover()">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>{{ currentUser?.firstName }} {{ currentUser?.lastName }}</h2>
            <p>{{ currentUser?.role | titlecase }}</p>
          </ion-label>
        </ion-item>
        <ion-item button (click)="onLogout()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
